.home-container {
  padding: 40px;
}

.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero-btn {
  background: #1677ff;
  color: white;
  padding: 12px 28px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  margin-top: 25px;
}

.products-preview {
  margin-top: 70px;
  text-align: center;
}

.product-grid {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 40px;
}

.product-card {
  background: white;
  width: 300px;
  height : 300px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: center;
}

.product-card img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.floating {
  animation: floatAnim 3s ease-in-out infinite;
}

@keyframes floatAnim {
  0% { transform: translateY(0); }
  50% { transform: translateY(-12px); }
  100% { transform: translateY(0); }
}
