.page2-container {
  padding: 24px;
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.confirm-text {
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.created-box {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #e6f7ff;
  background: #f0faff;
  border-radius: 8px;
}

.created-box p {
  margin: 6px 0;
  font-size: 15px;
}

.created-box h3 {
  margin-bottom: 12px;
}
