
.page1-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 900px;
  margin: auto;
}


.filters {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
  align-items: center;
}

.input-wrapper {
  margin-top: 10px;
}


.section {
  margin-top: 20px;
}


.modal-form .ant-form-item {
  margin-bottom: 14px;
}
